@page
@model RazorWorkouts.Pages.RazorWorkout.EditModel
@{
}


<br />
<h2 class="text-info">@Model.WorkoutSets.Name</h2>
<br />

<div class="border container" style="padding:30px;">
    <a class='btn btn-danger text-white' style='cursor:pointer; width:70px;'
      onclick="AddItem(@Model.WorkoutSets.Id);"  >Add</a>
</div>

<div class="border container" style="padding:30px;">
    <form method="post">



        @if (Model.Workouts.Count() > 0)
        {
            <input type="hidden" asp-for="@Model.WorkoutSets.Id" />
            <div class="form-group row">
                <div class="col-3">
                    <label> Workout set name</label>
                </div>
                <div class="col-6">

                    <input asp-for="@Model.WorkoutSets.Name" class="form-control" />
                </div>
                <span asp-validation-for="@Model.WorkoutSets.Name" class="text-danger"></span>
            </div>

            @for (int i = 0; i < Model.Workouts.Count(); i++)
            {
                // display a table
                <input type="hidden" asp-for="@Model.Workouts[i].Id" />
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>

                <div class="border container" style="padding:2%; margin:auto;">

                    <div class="form-group row">
                        <div class="col-3">
                            <label asp-for="@Model.Workouts[i].Name"></label>
                        </div>
                        <div class="col-6">

                            <input asp-for="@Model.Workouts[i].Name" class="form-control" />
                        </div>
                        <span asp-validation-for="@Model.Workouts[i].Name" class="text-danger"></span>

                    </div>

                    <div class="form-group row">
                        <div class="col-3">
                            <label asp-for="@Model.Workouts[i].Reps"></label>
                        </div>
                        <div class="col-6">

                            <input asp-for="@Model.Workouts[i].Reps" class="form-control" />
                        </div>
                        <span asp-validation-for="@Model.Workouts[i].Reps" class="text-danger"></span>

                    </div>
                    <div class="form-group row">
                        <div class="col-3">
                            <label asp-for="@Model.Workouts[i].Sets"></label>
                        </div>
                        <div class="col-6">

                            <input asp-for="@Model.Workouts[i].Sets" class="form-control" />
                        </div>
                        <span asp-validation-for="@Model.Workouts[i].Sets" class="text-danger"></span>

                    </div>

                    <div class="border container" style="padding:30px;">
                        <a class='btn btn-danger text-white' style='cursor:pointer; width:70px;'
                           onclick="DeleteWorkout(@Model.Workouts[i].Id);">Delete</a>
                    </div>


                </div>
            }
        }
        <div class="form-group row">
            <div class="col-3 offset-3">
                <input type="submit" value="Update" class="btn btn-primary form-control" />
            </div>
            <div class="col-3">
                <a asp-page="Index" class="btn btn-success form-control">Back to List</a>
            </div>
        </div>

    </form>
</div>






@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/Workout.js"></script>

}
